<h3>Customers</h3>

<app-customer-detail 
    customerName="Karen Freeman" 
    customerAddress="321 Old Mill Rd"
    customerCity="Portland"
    customerState="OR"
    customerPhone="603-435-1212">
</app-customer-detail>
<app-customer-detail 
    customerName="Chris Ross"
    customerAddress="234 Maple Dr"
    customerCity="Denver"
    customerState="CO"
    customerPhone="603-435-1212">
</app-customer-detail>
<app-customer-detail 
    customerName="Becky White"
    customerAddress="543 Aspen Ln"
    customerCity="Salt Lake City"
    customerState="UT"
    customerPhone="435-567-0462">
</app-customer-detail>
<app-customer-detail 
    customerName="John McCoy"
    customerAddress="4666 Pine Grove Ct"
    customerCity="Tampa"
    customerState="FL"
    customerPhone="407-782-4592">
</app-customer-detail>
<app-customer-detail 
    customerName="William Hatfield"
    customerAddress="657 State St"
    customerCity="New York"
    customerState="NY"
    customerPhone="706-254-8347">
</app-customer-detail>
<app-customer-detail 
    customerName="Rachel Smith"
    customerAddress="9877 Cotton Trail"
    customerCity="Omaha"
    customerState="ONER"
    customerPhone="516-234-7239">
</app-customer-detail>
<app-customer-detail 
    customerName="Martha Jones"
    customerAddress="890 Birch St"
    customerCity="Dallas"
    customerState="TX"
    customerPhone="987-567-2374">
</app-customer-detail>